/* CSS Design for <body> HTML Tag Element */
body {
    background : #0D1117;
    color : #E6EDF3;
    font-family : system-ui;
    margin : 50px;
}

/* CSS Design for <table> HTML Tag Element */
table {
    border-collapse : collapse;
    width : 100%;
    margin-bottom : 20px;
}

/* CSS Design for <table>, <th> and <td> HTML Tag Elements */
table, th, td {
    border : 1px solid #30363E;
}

/* CSS Design for <th> and <td> HTML Tag Elements */
th, td {
    padding : 15px;
    text-align : left;
    font-size : 25px;
}

th {
    background-color : #161B22;
}

/* CSS Hover Effect to Rrows */
tr:hover {
    background-color : #21262C;
}